body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a7fffd;
}

.destination-photo {
    padding-left: 15%;
    padding-top: 5%;
    margin-bottom: 5%;
}

.brief-info {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.row>div:first {
    align-content: center;
}

.disabled-place {
    background-color: #4db8b6;
}

.disabled-place > input {
    background-color: #65fd00;
}

.d-sm-flex > div {
    margin-left: 25px;
}
